/** CSS STYLE **/
:root {
  --color-white: #fff;
  --color-white-translucent: #d7ccc0;
  --color-light: #f5f4f0;
  --color-primary: #fe8a02;
  --color-primary-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-translucent: #908d8b;

  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

body {
  background-color: var(--color-white);
  color: var(--color-dark);
  line-height: 1.6em;
  font-size: 16px;
  font-family: "Open Sans", serif;
  margin: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}

.background-pattern {
  position: relative;
}

.background-pattern > * {
  z-index: 1;
  position: relative;
}

.background-pattern::before {
  content: "";
  position: absolute;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.06;
  z-index: 0;
}

h1,
h2,
h3 {
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* Start Header */

.main-header {
  background-color: var(--color-light);
}

.main-header h1 {
  color: var(--color-dark);
  margin: 0;
  font-family: Neucha;
  font-weight: 400;
}

.main-image {
  position: absolute;
  right: -270px;
  height: 525px;
}

.orange-text {
  color: var(--color-primary);
}

.main-header p {
  color: var(--color-dark);
  margin: 0;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

.main-image {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
  z-index: 0;
}

.top-description {
  position: relative;
  margin-bottom: 200px;
}

.bottom-description {
  display: flex;
  gap: 30px;
}

.left-description {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.right-description {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.right-description .description-paragraph {
  margin-top: 10px;
}

.header-btn {
  padding: 12px 24px;
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-top: 40px;
}

/* End Header */

/* Start Preview image */
.preview-image {
  height: 775px;
}

.preview-image h2 {
  margin: 0;
  font-family: Neucha;
  font-weight: 400;
  text-align: center;
  margin-bottom: 27px;
}

.preview-image p {
  margin: 0;
  font-weight: 400;
  color: #212529;
  text-align: center;
  margin-bottom: 30px;
}

iframe {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

/* End Preview image */


/* Start Navigation */

.navigation {
background-color: var(--color-primary-dark);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 323px 348px;
  gap: 20px;
  padding-top: 100px;
}

.card-description h2 {
  margin: 0;
  font-family: Neucha;
  font-size: 52px;
  font-weight: 400;
  color: var(--color-white);
}

.card {
  display: block;
  text-decoration: none;
  padding: 24px;
  background-color: var(--color-light);
}

.card p {
  margin: 0;
  color: var(--color-dark);
}

.card h2 {
  margin: 0;
  font-family: Neucha;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 40px;
  color: var(--color-primary-dark);
}

.card h3 {
  margin: 0;
  font-family: Neucha;
  font-weight: 400;
  margin-bottom: 16px;
}

/* End Navigation */

/* Start Ikea effect */
.ikea-effect {
  background-color: var(--color-light);
}

.ikea-effect h4 {
  color: var(--color-dark-translucent);
  font-family: Neucha;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.ikea-effect span {
  font-family: Neucha;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-dark);
  margin: 0;
}

.reused-paragraph {
  font-family: Neucha;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-dark);
  margin: 0;
  margin-top: 30px;
}

.ikea-effect h5 {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
}

.title-line-beige {
  background-color: var(--color-brown);
  padding: 5px 954px 5px 10px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.reused-flex{
  display: flex;
  gap: 30px;
}

.reused-image-right {
  vertical-align: middle;
}

/* End Ikea effect */

